/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Acumin Variable Concept";
  src: url("./AcuminVariableConcept.eot"); /* IE9 Compat Modes */
  src: url("./AcuminVariableConcept.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./AcuminVariableConcept.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./AcuminVariableConcept.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
